
@import '../assets/variables';

.register-title {
    width: 270px;
    line-height: 43px;
    margin: 50px auto 20px;
    font-size: 19px;
    font-weight: $font-weight;
    color: $color2;
    color: rgba($color2, .95);
    text-align: $center;
    text-shadow: 0 1px rgba($color3, .3);
    background: $color;
    border-radius:$radius;
  }
  
  .register {
    margin: 0 auto;
    width: 230px;
    padding: 20px;
    background: #f4f4f4;
    border-radius:$radius;
   
  }
  
  input {
    font-family: $input-property;
    font-size: $input-property;
    color: $input-property;
  }
  
  .register-input {
    display: block;
    width: 100%;
    height: 38px;
    margin-top: 2px;
    font-weight: $font-weight;
    background: none;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
  
    &:focus {
      border-color: #1e42e2;
      outline: 0;
    }
  }
  
  .register-button {
    display: block;
    width: 100%;
    height: 42px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #494d59;
    text-align: $center;
    text-shadow: 0 1px rgba($color2, .5);
    background: #fcfcfc;
    border: 1px solid;
    border-color: $border-color;
    border-radius: 2px;
    cursor: $cursor-style;
 
  
    &:active {
      background: #eee;
      border-color: $border-color;
   
    }
  
    &:focus { outline: 0; }
  }
  
  .register-switch {
    height: 32px;
    margin-bottom: 15px;
    padding: 4px;
    background: #6db244;
    border-radius: 2px;
  
  }
  
  .register-switch-input {
    display: none;
  }
  
  .register-switch-label {
    float: left;
    width: 50%;
    line-height: 32px;
    color: $color2;
    text-align: $center;
    text-shadow: 0 -1px rgba($color3, .2);
    cursor: $cursor-style;
  
    .register-switch-input:checked + & {
      font-weight: $font-weight;
      color: #434248;
      text-shadow: 0 1px rgba($color2, .5);
      background: $color2;
      border-radius: 2px;

    }
  }
  